 .lightbox {
     display: none;
     position: absolute;
     top: 70px;
     width: 79vw;
     height: 1830px;
     background-color: rgba(240, 205, 168, );
     color: white;
     padding: 40px;
     span {
         color: white;
         font-size: 2em;
         cursor: pointer;
     }
 }
 
 .image-player {
     h4 {
         color: white;
         margin-top: 120px;
         font-weight: bold;
         font-size: 20px;
     }
     p {
         margin-top: 120px;
         margin-bottom: 110px;
         text-align: center;
     }
 }
 
 .show-lightbox {
     display: block;
 }
 
 .lb-video {
     width: 320px;
 }
 
 .lb-close {
     float: right;
 }
 
 @media screen and (min-width: 650px) {
     .lightbox {
         display: none;
         position: absolute;
         width: 90vw;
         height: 3500px;
         background-color: rgba(240, 205, 168, );
         color: white;
         padding: 40px;
         margin-top: 50px;
         span {
             color: white;
             font-size: 3em;
             cursor: pointer;
         }
     }
     .image-player {
         h4 {
             color: white;
             margin-top: 40px;
             font-weight: bold;
             font-size: 50px;
         }
         p {
             margin-top: 30px;
             margin-bottom: 30px;
             font-size: 30px;
             text-align: center;
         }
     }
     .show-lightbox {
         display: block;
     }
     .lb-video {
         width: 700px;
         height: 500px;
     }
 }
 
 @media screen and (min-width: 1024px) {
     .lightbox {
         display: none;
         position: absolute;
         width: 59vw;
         height: 2946px;
         background-color: rgba(240, 205, 168, );
         color: white;
         span {
             color: white;
             font-size: 3em;
             cursor: pointer;
         }
     }
     .image-player {
         h4 {
             color: white;
             margin-top: 240px;
             font-weight: bold;
             font-size: 50px;
             margin-bottom: 100px;
         }
         p {
             margin-top: 130px;
             margin-bottom: 130px;
             font-size: 30px;
             text-align: center;
         }
         img {
             width: 600px;
             height: 400px;
             margin-left: 280px;
         }
     }
     .show-lightbox {
         display: block;
     }
     .lb-video {
         width: 900px;
         height: 600px;
         margin-left: 111px;
     }
 }